$header-bg: #0a101a;
$header-color: white;
$font-family: "Roboto", "Helvetica", "Arial", sans-serif;
@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    gap: 12px;
    align-items: center;
    flex-wrap: nowrap;
}
@mixin postionHandler($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}
header {
    background-color: $header-bg;
    font-family: $font-family;
    padding: 1em;
    color: $header-color;
    .container {
        @include flex(row);
        justify-content: space-between;
    }
    h1 {
        margin: 0;
        display: inline;
        color: inherit;
        a {
            color: inherit;
        }
    }
    nav {
        ul {
            list-style: none;
            margin: 0;
            @include flex(row);
        }
    }
    
    .hamburguer {
        display: none;
        width: var(--size-ref);
        height: calc(var(--size-ref) / 2);
        position: relative;
        cursor: pointer;
        z-index: 99;
        .slice {
            transition: 0.4s transform, 0.4s left, 0.4s top, 0.1s opacity;
            width: 100%;
            height: 3px;
            display: block;
            background-color: white;
            &:nth-child(1) {
                @include postionHandler(0, 0);
            }
            &:nth-child(2) {
                @include postionHandler(50%, 0);
                transform: translateY(-1px) translateZ(0);
                will-change: transform;
            }
            &:nth-child(3) {
                @include postionHandler(100%, 0);
                transform: translateY(-2px);
            }
        }
    }
    #hamburguer-toogle:checked {
        & ~ .hamburguer {
            .slice:nth-child(2) {
                opacity: 0;
            }
            .slice:nth-child(1) {
                --y: calc(calc(var(--size-ref) / 8) * 1); 
                --x: calc(calc(var(--size-ref) / 8) * 1); 
                transform: rotate(45deg) translateX(var(--x)) translateY(var(--y));
                top: 0;
            }
            .slice:nth-child(3) {
                --y: calc(calc(var(--size-ref) / 8) * 1); 
                --x: calc(calc(var(--size-ref) / 8) * -1); 
                transform: rotate(-45deg) translateX(var(--x)) translateY(var(--y));
                top: 0;
            }
        }
        
    }

    @media screen and (max-width: 700px) {
        .hamburguer {
            display: block;
        }
        nav {
            display: none;
        }
        #hamburguer-toogle:checked {
            & ~ nav {
                width: 100%;
                height: 100%;
                z-index: 4;
                top: 0;
                right: 0;
                position: fixed;
                @include flex(column);
                justify-content: center;
                background-color: #0a101a;
                padding: 20px 30px;
                ul {
                    padding: 0;
                    flex-direction: column;
                    width: 100%;
                    li {
                        width: 100%;
                        text-align: center;
                        padding: 1em 0;
                        &:hover {
                            background-color: deepskyblue;
                        }
                    }
                }
            }
        }
    }
}
