main {
    background-color: #e2e2e2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .custom-loader {
        width:100px;
        height:100px;
        border:4px solid blueviolet;
        display: grid;
        animation: h1 4s infinite linear;
        box-shadow: -2px 2px 7px 1px #00000042;
    }
    .custom-loader::before,
    .custom-loader::after {
        content: "";
        grid-area: 1/1;
        box-shadow: -2px 2px 7px 1px #00000042;
        margin:auto;
        width:70.7%;
        height:70.7%; 
        border:4px solid blueviolet;
        animation: inherit;
      }
      .custom-loader::after {
        width:50%;
        height:50%;
        border:4px solid blueviolet;
        animation-duration: 2s;
    }
    @keyframes h1{
        100% {transform:rotate(1turn)}
    }
    p {
        font-size: 1.1em;
        line-height: 5;
        color: blueviolet;
        &::selection {
            background-color: transparent;
        }
        &::after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            position: absolute;
            animation: ellipsis cubic-bezier(0.88, 0.4, 0.69, 0.66) 1000ms infinite alternate-reverse;
            content: "\2026";
            width: 0px;
            
            
        }
    }
}
@keyframes ellipsis {
to {
    width: 40px;
}
}