$header-bg: #0a101a;
$header-color: white;

@import 'header';
@import 'footer';
@import '_main.scss';

* {
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}